body { background:#000000; color:#cfcfcf }

a:link {color: #8fafff; text-decoration: none}
a:visited {color: #afffff; text-decoration: none}
a:hover {color: #ff77ff; text-decoration: underline}
a:active {color: #00ff00; text-decoration: none}

div.header img.logo { float:right; }

div.page h1 { font-size:medium; }   
div.header h1 { font-size:large; }   

div.content a.edit { color: red; }

/* Sidebar */
@media print {
    div.sidebar {
        display: none;
    }
}

@media screen {
    body {
        margin-left: 26ex;
        padding-left:1em;
        border-left: 1px solid #999;
    }
    div.sidebar {
        position: absolute;
        left: 0;
        width: 25ex;
        top: 0;
    }
}
